*{
    margin:0 auto;
    text-align: center;
    }
    .head{
        background-color: white;
        color: rgba(47, 47, 236, 0.849);
        width: 250px;
        height: 60; 
        margin-top: 80px;
       
        margin-bottom: 40px;
        border-radius: 30px;
        padding: 20px;
        box-shadow:  1px 1px 18px 1px cornflowerblue !important;
    }
.abc{
    margin-top: 100px;
    height: 50px;
    
    
}
 #main{
   
    width: 500px;
    margin: auto;
    margin-left: 425px;
    
    margin-top: 40px;
    height: 80px;
}
.input{
    height: 35px;
    width: 275px;
    border-radius: 5px;
    background-color: rgb(88, 192, 252);
    color: white;
    margin: 5px;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;}
.add{
    height: 40px;
    width: 100px;
    border-radius: 9px   ;
    border: 2px solid gray;
    margin: 5px;
}
.del{
    height: 40px;
    width: 100px;
    border-radius: 9px   ;
    border: 2px solid gray;
    
}
.lis{
    height: 50px;
    margin: 10px;
box-shadow:cornflowerblue ;
    margin-right: 20px;
    color:  rgb(249, 249, 250);
    background-image: linear-gradient(150deg,rgb(88, 192, 252),rgb(199, 216, 231));
    font-weight: 200;
    font-size: large;
  
}

.dil{
    width: 100px;
    height: 40px;
    margin: 5px;
    border-radius: 9px ;
    margin-left: 60px;
    border: 2px solid gray;
   
}
.edt{
    width: 100px;
    height: 40px;
    margin: 5px;
    border-radius: 9px;
    margin-right: 20px;
    border: 2px solid gray;
}